@import "./tailwind";
@import "./colors";
@import "./fonts";

html{ 
    background: var(--color-bg1);
}
body, html, #app{ 
    min-height: 100vh;
    color: var(--color-text-gray);
}

h1,h2,h3,h4,h5,h6{ 
    color: var(--color-text-light);
    font-weight:700;
}
